.content .main{width:1090px;height:auto;margin:44px 0px 0px 55px;}
.content .main img{width:385px;height:346px;float:left;margin-bottom: 76px;}
.content .main .text{width:613px;height:auto;float:right;margin-right:45px;padding-top:36px;}
.content .main .text p{font-family:"微软雅黑";font-size:12px;color:#333333;line-height:20px;
margin-bottom:32px;text-indent:2em;text-align: justify;}
