.content{width:auto;height:auto;clear: both;}
.content .banner{width:auto;overflow:hidden;}
.slidebox{width:1920px;height:500px;position:relative;margin:0px auto;
left:50%;margin-left:-960px;}
.slidebox .btn{width:100%;height:4px;position:absolute;left:0px;bottom:25px;}
.slidebox .btn ul{width:100%;text-align:center;font-size:0px;}
.slidebox .btn ul li{width:55px;height:4px;margin:0px 15px;display:inline-block;cursor:pointer;background:#ffffff;}
.slidebox .btn ul li:hover{background:#ffab3e;}
.slidebox .btn ul .on{background:#ffab3e;}
.content .title{width:1200px;height:58px;text-align:center;padding-top:18px;margin:0px auto;}
.content .title h2{font-weight:normal;font-family:"微软雅黑";font-size:18px;color:#525252;}
.content .title span{display:block;font-family:"Arial";font-size:12px;color:#a9a9a9;}
.content .about{width:auto;height:auto;background:#fafafa;padding-bottom:71px;}
.content .main{width:1200px;height:auto;margin:0px auto;background:#fafafa;}
.content .main img{display:block;width:500px;height:161px;margin:0px auto 29px;}
.content .main p{width:877px;font-family:"微软雅黑";font-size:12px;color:#828282;margin:0px auto;text-indent:2em;line-height:20px;cursor:default;}
.content .news{width:auto;height:auto;background:#ededed;margin-bottom:0px;}
.content .news .nes{width:1200px;height:auto;margin:0px auto;}
.content .news .nes > a{display:block;width:500px;height:250px;margin:0px 0px 74px 100px;float:left;}
.content .news .nes > a img{display:block;width:500px;height:250px;}

.content .news ul{width:564px;height:auto;float:right;}
.content .news ul li{width:564px;height:91px;}
.content .news ul li .date{width:48px;height:91px;float:left;text-align: center;}
.content .news ul li .date h3{font-weight:normal;font-family:"微软雅黑";font-size:30px;color:#b2b2b2;line-height:18px;margin:13px 0px 3px 0px;}
.content .news ul li .date span{display:block;width:45px;height:1px;background:#b2b2b2;margin-top:10px;}
.content .news ul li .date h4{font-weight:normal;font-family:"微软雅黑";font-size:12px;color:#b2b2b2;}
.content .news ul li .det{width:502px;height:91px;float:right;position:relative;}
.content .news ul li .det h2{font-weight:normal;margin-top:6px;}
.content .news ul li .det h2 a{font-family:"微软雅黑";font-size:14px;color:#b2b2b2;}
.content .news ul li .det p{width:400px;font-family:"微软雅黑";font-size:12px;color:#b2b2b2;;line-height:18px;}
.content .news ul li .det > a{display: block;font-family:"微软雅黑";font-size:12px;color:#b2b2b2;position:absolute;top:46px;right:114px;}
.content .news ul li:hover .date{color:#333333;}
.content .news ul li:hover .date h3{color:#333333;}
.content .news ul li:hover .date span{color:#333333;}
.content .news ul li:hover .date h4{color:#333333;}
.content .news ul li:hover{color:#333333;}
.content .news ul li:hover .date{color:#333333;}
.content .news ul li:hover .date h3{color:#333333;}
.content .news ul li:hover .date span{background:#333333;}
.content .news ul li:hover .date h4{color:#333333;}
.content .news ul li:hover .det{color:#333333;}
.content .news ul li:hover .det h2 a{color:#333333;}
.content .news ul li:hover .det p{color:#333333;}
.content .news ul li:hover .det > a{color:#333333;}
.content .product{width:auto;height:auto;background:#f9f9f9;padding-bottom: 75px;}
.content .product .sli{width:1200px;height:272px;margin:0px auto;overflow: hidden;position:relative;}
.content .product .sli .prev{width:23px;height:40px;position:absolute;top:105px;left:32px;background:url(../img/pro_prev.png);}
.content .product .sli .next{width:23px;height:40px;position:absolute;top:105px;right:32px;background:url(../img/pro_next.png);}
.content .product .sli .prev:hover{background:url(../img/pro_prev_hover.png);}
.content .product .sli .next:hover{background:url(../img/pro_next_hover.png);}
.content .product .pic{width:1000px;height:272px;margin-left:100px;}
.content .product ul{height:272px;}
.content .product ul li{width:300px;height:272px;margin-right:50px;float:left;}
.content .product ul li a img{display: block;;width:300px;height:226px;}
.content .product ul li span{display: block;width:300px;height:46px;background:#efefef;line-height:46px;text-align: center;}
.content .product ul li span a{display: block;font-family:"微软雅黑";font-size:16px;color:#b4b4b4;}
.content .product ul li:hover a{background:#333333;color:#fefefe;}

