.content{width:auto;height:auto;background:#fafafa;padding-bottom:29px ;}
.big_content{width:1200px;height:auto;margin:0px auto;}
.big_content .main{width:1090px;height:auto;margin:44px 0px 0px 55px;}
.big_content .main ul{width:1140px;height:349px;margin-bottom: 27px;background:#fafafa;}
.big_content .main ul li{float:left;width:328px;height:349px;border-left:1px solid #f1efec;border-right:1px solid #f1efec;margin-right:50px;}
.big_content .main ul li h3{height:30px;font-weight:normal;font-family:"微软雅黑";font-size:36px;color:#d7d1ca;margin:37px 0px;text-align:center;line-height:30px;}
.big_content .main ul li h4{font-weight:normal;margin-bottom:36px;}
.big_content .main ul li h4 > a{display: block;font-family:"微软雅黑";font-size:18px;
color:#828282;text-align:center;}
.big_content .main ul li p{font-family:"微软雅黑";font-size:12px;color:#a9a9a9;margin:0px 64px 0px 61px;text-indent:2em;line-height:18px;}
.big_content .main ul li > a{width:68px;font-family:"微软雅黑";font-size:12px;color:#a6a6a6;display: block;margin:75px auto 0px;}
.big_content .main ul li:hover{background:#eaddc7;border-left:1px solid #5b5b5b;border-right:1px solid #5b5b5b;}
.big_content .main ul li:hover h3{color:#cabaa2;}
