.content .main{width:1090px;height:auto;margin:44px 0px 89px 55px;}
.content .main img{float:left;margin-bottom: 89px;}
.content .main .detail{width:620px;height:auto;float:right;}
.content .main .detail h3{font-weight:normal;font-family:"微软雅黑";font-size:14px;color:#6e6e6e;line-height:13px;margin-bottom:17px;}
.content .main .detail span{font-family:"微软雅黑";font-size:12px;color:#6e6e6e;display: block;margin-bottom:12px;}
.content .main .detail p{font-family:"微软雅黑";font-size:12px;color:#6e6e6e;line-height:20px;text-align:justify;}
